body {
  background: linear-gradient(to top, #4ca1af, #c4e0e5);
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 50px;
}

h1 {
  text-align: center;
  padding: 10px;
}

#text {
  margin: auto;
  padding: 10px;
}

#submit {
  margin-top: 10px;
  background: white;
  opacity: 0.6;
  transition-duration: 0.4s;
}

#submit:hover {
  opacity: 1;
}

#display {
  margin-left: 10px;
  font-weight: bold;
}

.count {
  float: right;
  padding: 0.1rem 0 0 0;
  font-size: 8pt;
}

textarea:focus + .count::after {
  content: "Char Count: " attr(data-count);
}
