body {
  background: linear-gradient(to top, #4ca1af, #c4e0e5);
  padding: 50px;
}

h1 {
  text-align: center;
  padding: 10px;
}

#text {
  margin: auto;
  padding: 10px;
}

#submit {
  margin-top: 10px;
  background: white;
  opacity: 0.6;
  transition-duration: 0.4s;
}

#submit:hover {
  opacity: 1;
}

#score {
  margin-left: 20px;
  font-weight: bold;
}
