<!DOCTYPE html>
<html>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.2/dist/semantic.min.css" />
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.2/dist/semantic.min.js"></script>

<head lang="en">
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}" />
  <title>Essay Evaluator</title>
</head>

<body>
  <h1>Essay Evaluator</h1>
  <div id="text" class="ui form">
    <div id="text" class="field">
      <form action="/" name="essayform" method="POST">
        <p id="text" class="ui big text">
          More and more people use computers, but not everyone agrees that
          this benefits society. Those who support advances in technology
          believe that computers have a positive effect on people. They teach
          hand-eye coordination, give people the ability to learn about
          faraway places and people, and even allow people to talk online with
          other people. Others have different ideas. Some experts are
          concerned that people are spending too much time on their computers
          and less time exercising, enjoying nature, and interacting with
          family and friends. Write a letter to your local newspaper in which
          you state your opinion on the effects computers have on people.
          Persuade the readers to agree with you.
        </p>
        <textarea name="essay1" rows="20" placeholder="Enter your essay here"></textarea>
        <br />
        <br />
        <p id="text" class="ui big text">
          Censorship in the Libraries "All of us can think of a book that we
          hope none of our children or any other children have taken off the
          shelf. But if I have the right to remove that book from the shelf --
          that work I abhor -- then you also have exactly the same right and
          so does everyone else. And then we have no books left on the shelf
          for any of us." --Katherine Paterson, Author Write a persuasive
          essay to a newspaper reflecting your vies on censorship in
          libraries. Do you believe that certain materials, such as books,
          music, movies, magazines, etc., should be removed from the shelves
          if they are found offensive? Support your position with convincing
          arguments from your own experience, observations, and/or reading.
        </p>
        <textarea name="essay2" rows="20" placeholder="Enter your essay here"></textarea>
        <br />
        <br />
        <p id="text" class="ui big text">
          Write about patience. Being patient means that you are understanding
          and tolerant. A patient person experience difficulties without
          complaining. Do only one of the following: write a story about a
          time when you were patient OR write a story about a time when
          someone you know was patient OR write a story in your own way about
          patience.
        </p>
        <textarea name="essay3" rows="20" placeholder="Enter your essay here"></textarea>
        <br />
        <br />
        <p id="text" class="ui big text">
          The author, Narciso Rodriguez, reflects on his childhood home in
          Newark, New Jersey, where his Cuban immigrant parents created a
          traditional and loving environment. Despite the challenges of racism
          and segregation, their neighborhood fostered solidarity and
          friendship among Spanish, Cuban, and Italian immigrants. The house
          was a gathering place for extended family and friends, offering
          support to those in need. The author's parents made great sacrifices
          for their children's future, leaving behind their careers and
          homeland. They faced personal and financial struggles but instilled
          in the author a sense of generosity and the importance of family and
          friends. The house became a symbol of love and celebration, where
          the author learned the true meaning of "family."
          <br />
          Describe the mood in the paragraph. Support your answer with
          relevant information from the paragraph.
        </p>
        <textarea name="essay4" rows="20" placeholder="Enter your essay here"></textarea>
        <br />
        <br />
        <p id="text" class="ui big text">
          We all understand the benefits of laughter. For example, someone
          once said, “Laughter is the shortest distance between two people.”
          Many other people believe that laughter is an important part of any
          relationship. Tell a true story in which laughter was one element or
          part.
        </p>
        <textarea name="essay5" rows="20" placeholder="Enter your essay here"></textarea>
        <input id="submit" class="ui button" type="submit" value="Submit" />
      </form>
    </div>
  </div>
  <div id="score" class="ui big text">{{ total_score }}</div>
</body>

</html>
